*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr; 
    grid-template-rows: 300px 200px 250px 250px 150px;

    grid-template-areas: 
    "he he he he"
    "na s1 s1 as"
    "na s2 s2 as"
    "na s3 s3 as"
    "fo fo fo fo"
    ;
}


header{
    grid-area: he;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/photo-1613921303357-f6da6d0a37ec.jpg");

    
}



#header_backrund{
    grid-area: he;
    color: white;
}
#img_main{
    height: 100px;
    width: auto;
}

#navigation_index{
    grid-area: na;
    background-color: lightgray;
}

#section_1{
    grid-area: s1;
}

#section_2{
    grid-area: s2;
}

#section_3{
    grid-area: s3;
}

#section_4{
    grid-area: s4;
    height: 200px;
    
}

aside{
    grid-area: as;
    background-color: lightgray;
}

footer{
    background-color: lightgray;
    grid-area: fo;
    display: flex;
    flex-direction: row;
    
}

#footer_list_1{
list-style-type: none;
}

#footer_list_2{ 
    display: flex;
    justify-content: center;
    list-style-type: none;
    list-style: row;

}





#h1_regler{
    grid-area: he;

}

#section_regler_1{
    grid-area: s1;
    
}

#badmintonplan_text{
    
    font-size: 11px;
}

#bamintonplan_regler{
    height: 250px;
    width: auto;
}

#section_regler_2{
    grid-area: s2;
}

#section_regler_3{
    grid-area: s3;
}



#navigation_regler{
    grid-area: na;

    background-color: gray;
    
}
















